/* 
    Document   : style
    Created on : 17 Apr, 2013, 3:47:43 PM
    Author     : internmc1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/************************** Overriding app.css class ************************/

.my-map.x-paint-monitored {
/*    position: static !important;*/
}

/****************************** Overriding ENDS *****************************/

/******************************* Map ****************************************/

.infobox{
    height: 80px;
    width: 200px;
    margin-left: -100px;
    background-image: url("../images/infobox.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.infobox .content{
    padding: 5px;
    color: white;
    overflow: hidden;
    font-size: 12px;
    height: 52px;
}

/***************************** Map ENDS ************************************/